{% extends 'base.html.twig' %}

{% block body %}
        <h2>{{ client.nom }}</h2>

<p>{{ client.prenom }}</p>
<p>{{ client.dateDeNaissance | date('d-m-Y') }}</p> 
<p>{{ client.adresse }}</p>
<p>{{ client.codePostal }}</p>
<p>{{ client.numeroDeTelephone }}</p>
<p>{{ client.statutMarital }}</p>

{% endblock %}